@media screen {
    .print-format-gutter {
		background-color: #d1d8dd;
		padding: 30px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
	}
	.print-format {
		background-color: white;
	}
}